*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: bisque;
}

/* HEADER NAVBAR */

.navbar{
    width: 100%;
    height: 10vh;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.logo{
    display: flex;
    font-size: 30px;
}

.logo p{
    display: flex;
    align-items: center;
}

.logo_lista{
    display: flex;
    align-items: center;
}

.logo_lista ul{
    display: flex;
    gap: 50px;
    font-size: 25px;
}

.logo_lista ul a{
    text-decoration: none;
}

.logo img{
    padding-left: 20px;
    width: 80px;
}


/* MAIN  CONTACTO*/
main{
    width: 940px;
    margin: 0 auto;
    
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px ;
    width: 50%;
}

.checkbox{
    margin: 25px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: darkorange;
    transform: scale(1.1);
}

table{
    margin: 40px 40px;
}

thead{
    background: #555555;
    color: white;
    font-weight: bold;
}
td,th{
    border: 1px solid #000;
    padding: 8px 15px;
}

/* Footer  */

footer{
    background-image: url("./imagenes/bg.jpg");
    padding: 35px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

footer img{
    padding: 0 25px;
    width: 150px;
}


.footer_lista a{
    color: white;
    font-size: 25px;
    padding: 15px 0;
}

.copyright{
    color: #fff;
    text-align: center;
}

.footer_iconos{
    display: inline-block;
}

.footer_iconos a{
    color: white;
    font-size: 35px;
    padding: 0px 20px;
}